%h1 Builds for #{ENV["GITHUB_ORGANIZATION"]}/#{ENV["GITHUB_REPO"]}
%ul
  - @recent_builds.each do |build|
    %li
      = "#{build[:number]} #{build[:state]}"
      - if build[:failures]
        %ul
          - build[:failures].each do |failure|
            %li= failure
